@import "_color";

html {
    scroll-behavior: smooth;

    body {
        padding: 0;
        margin: 0;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        header {
            padding: 20px;
            background-color: $bgclr2;
            ;
            display: flex;
            justify-content: space-between;
            color: $color2;

            .left-header {
                display: inline-block;

                a {
                    color: $color2;
                    margin-right: 15px;

                    .bullet {
                        color: $color4;
                    }
                }

                a:hover {
                    color: $color3;
                    text-decoration: none;

                    .bullet {
                        color: $color3;
                    }
                }
            }

            .right-header {
                display: flex;

                
            }
        }
        .sociallinks {
            display: flex;
            margin: 0;
            i {
                color: $color3;
            }
            li {
                margin-right: 7px;
                a{
                    width: 30px;
                    display: flex;
                    height: 30px;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        a:hover {
            text-decoration: none;
        }

        .bottom-header {
            background-color: #a8a9ad;

            a {
                color: $color1;

            }

            .brand {
                margin: 0;
                padding: 0;

                p {
                    margin: 0;
                    color: #008891;

                }
            }

            .header-contact-info ul {
                list-style: none;
                display: flex;
                margin: 0;

                &>:nth-child(1) {
                    border-right: 1px solid $color2;
                }

                .single-item {
                    margin: 0 10px;
                    display: flex;
                    align-items: center;

                    p {
                        margin: 0;
                    }

                    img {
                        width: 100%;
                    }

                    .icon {
                        height: 60px;
                        width: 60px;
                    }

                    color: $color1;

                    .text {
                        padding: 0 5px;
                    }
                }
            }

            .icon {
                height: 70px;
                width: 70px;
            }

            .btn a {
                // background-color: #fff;
                border-radius: 30px;
                padding: 12PX 45px;
                border: 2px solid rgba(255, 255, 255, 0.319);
                font-size: 15px;
                font-weight: 600;

                i {
                    color: $color3;
                    font-size: 20px;
                    margin-right: 7px;

                }

                &:hover {
                    border-color: $color3;
                    background-color: $color3;
                    color: white;

                    i {
                        color: white;
                    }
                }
            }
        }

        #nav-menu {
            background-color: $bgclr1;

            ul {
                li {
                    display: inline-block;
                    padding: 20px 0;

                    &:hover {

                        // background-color:$color3;
                        a {
                            color: $bgclr2 !important;
                        }


                    }

                    a {
                        display: inline-block;
                        width: 100%;
                        text-align: center;
                        border-right: 0.5px solid #ffffff63;
                        border-left: 0.5px solid #ffffff63;
                        color: white !important;
                        font-weight: 600 !important;
                    }
                }
            }

        }

        #carouselExampleControls {
            a {
                width: 4%;
            }

            img {
                width: 100%;
            }

            .carousel-caption {
                bottom: 22%;
                text-align: unset;

                &.left {
                    right: unset;
                    left: 5%;
                }

                &.right {
                    left: unset;
                    right: 5%;
                }

                h1 {
                    color: $color1;
                    font-size: 3rem;
                    font-weight: 700;

                    span {
                        color: $color5;
                    }
                }
            }
        }

        .services {
            .serv-item {
                padding-top: 15px;

                .icon {

                    img {
                        float: right;
                        width: 90%;
                        padding: 15%;
                        border-radius: 50%;

                        &.blue {
                            border: 1.5px solid $bgclr1;
                        }

                        &.cyan {
                            border: 1.5px solid $color5;
                        }
                    }
                }
            }

            .btn {
                // background-color: #fff;
                border-radius: 30px;
                padding: 12PX 45px;
                border: 2px solid rgba(255, 255, 255, 0.319);
                font-size: 15px;
                font-weight: 600;
                &:hover {
                    border-color: $color5;
                    background-color: $color5;
                    color: white;

                }
            }
        }
        .service{
            background-color: rgb(154, 221, 231);
            .heading{
                // display: flex;
                // justify-content: center;
                // flex-direction: column;
                text-align: center;
                h1{
                    font-weight: 700;
                    color: $color1;
                }
                h3{
                    color: white;

                }
            }
            .serv-item{
                text-align: center;
                .img{
                    margin-bottom: 20px;
                    height: 200px;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    background-color: rgb(231, 229, 230);
                    border-radius: 20px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    &.serv1{
                        background-image: url("../img/services/Implantology.jpg");
                    }
                    &.serv2{
                        background-image: url("../img/services/Paradont.jpg");
                    }
                    &.serv3{
                        background-image: url("../img/services/estetic.jpg");
                    }
                    &.serv4{
                        background-image: url("../img/services/oral-surgery.jpg");
                    }
                    &.serv5{
                        background-image: url("../img/services/wisdom.jpg");
                    }
                    &.serv6{
                        background-image: url("../img/services/estetic.jpg");
                    }
                    &.serv7{
                        background-image: url("../img/services/estetic.jpg");
                    }
                    &.serv8{
                        background-image: url("../img/services/estetic.jpg");
                    }
                    &.serv9{
                        background-image: url("../img/services/estetic.jpg");
                    }
                    
                    h6{
                        position: absolute;
                        bottom: -8%;
                        border-radius: 20px;
                        background-color: white;
                        padding: 10px 20px;
                    }
                }

            }
        }
        footer{
            background-color: #184152;
            color: white;
            .sociallinks {
                a{
                    border-radius: 50%;
                    border: 1px solid white;
                }
            }
        }
    }
}